# DATABASES.
DB_NAME=sky_tbook
DB_USER=sky_user
DB_PASSWORD=your_password_here
DB_HOST=localhost
DB_PORT=5432

# SECRET_KEY.
SECRET_KEY=generate-your-secret-key

# DEBUG.
DEBUG=True

#API STRIPE
#Прямая ссылка на тест ключи - https://dashboard.stripe.com/acct_1TvjsGCMr4hVVbmR/test/apikeys
STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_SECRET_KEY=sk_test_...

# Redis
REDIS_URL=redis://127.0.0.1:****/0